<hr>
<footer class="page-footer">
<a href="/" class="btn btn-primary btn-sm">New Game</a>
<a href="/manage" class="btn btn-primary btn-sm">Management Page</a>
<p>Benjamin Bowser 2019</p>
</footer>
</html>
