<% include header %>
<a href="manage/statistics">Statistics</a><br>
<a href="manage/games">All Games</a><br>
<a href="manage/inprogress">Games in Progress</a><br>
<a href="manage/orphaned">Orphaned Games</a><br>
<a href="manage/clear">Clear old games</a><br>
<% include footer %>
