<!--Benjamin Bowser
Assignment 12
CSE270e
1/19/19 -->
</body>
<hr>
<footer class="page-footer">  
<a href="/" class="btn btn-primary btn-sm">Main Page</a>
<p>Copyright 2019 Benjamin Bowser - CSE270e</p> 
</footer> 
</html>
