<!--Benjamin Bowser
Assignment 12
CSE270e
1/19/19 -->
<% include header %>
<div>
<h2>Rovers:</h2>
<% for (let i =0; i < posts.length; i++){ %>
	<a href = "/mars/<%=posts[i]%>"><%=posts[i]%></a> <br>
<% } %>
</div>
<% include footer %>
